*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' sans-serif ;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#4e085f,#153677);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    border-radius: 20px;
    padding: 40px 30px 70px ;
}

.todo-app>h2>img{
    width: 30px;
    margin-left: 10px;
}

.todo-app>h2{
    display: flex;
    text-align: center;

}

.row{
     display: flex;
     justify-content: space-between;
     background-color: #e6e6e7;
     border-radius: 30px;
     align-items: center;
     padding-left: 20px;
     margin-bottom: 25px;
}

#input-box{
    flex: 1;
    border: none;
    background:transparent;
    padding: 10px;
    outline: none;
    font-weight: 14px;
}
.row>button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #e96e35;
    color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul>li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    
}

ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    border-radius: 50%;
    width: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

li.checked::before{
    content: ' ';
    background-image: url(images/checked.png);

}

li>span{
    position: absolute;
    /* display: flex; */
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}

 li span:hover{
    background-color: gray;
}
